{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Siri Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
</head>

<body>
  <p id="clock">HH:MM:SS</p>
<br/>
  <a href="https://m.me/1972484332990248"><p id="messengerbutton">CHAT WITH MESSENGER</p></a>
  
<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>


<button id="toggle-cards">Toggle Cards</button>
<div class="card-box">
  <div class="card">
    Dummy Data
  </div>
  <div class="card">
    Dummy Data
  </div>
  <div class="card">
    Dummy Data
  </div>
  <div class="card">
    Dummy Data
  </div>
  <div class="card">
    Dummy Data
  </div>
  <div class="card">
    Dummy Data
  </div>
</div>
<div id="visualization"></div>
<div id="button">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="microphone" data-container-transform="translate(3)" viewBox="0 0 16 20" x="0px" y="0px"><path d="M4.5 0c-1.4 0-2.5 1.1-2.5 2.5v5c0 1.4 1.1 2.5 2.5 2.5s2.5-1.1 2.5-2.5v-5c0-1.4-1.1-2.5-2.5-2.5zm-4.125 6.188a.5.5 0 0 0-.375.5v.813c0 2.302 1.763 4.184 4 4.438v3.063h-2c-.6 0-1 .4-1 1h7c0-.6-.4-1-1-1h-2v-3.063c2.237-.254 4-2.136 4-4.438v-.813a.5.5 0 1 0-1 0v.813c0 1.927-1.573 3.5-3.5 3.5s-3.5-1.573-3.5-3.5v-.813a.5.5 0 0 0-.563-.5.5.5 0 0 0-.063 0z" transform="translate(3)"/></svg>
  <div id="contents"></div>
</div>
  <div id="viz1" class="visual"></div>
  <div id="viz2" class="visual"></div>
  <div id="viz3" class="visual"></div>
  <div id="viz4" class="visual"></div>
<div id="tip">Press and hold to speak</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>

    <script  src="{% static 'js/index.js' %}"></script>

</body>
</html>
